@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,700&display=swap);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css);
@import url(https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:ital,wght@0,300;0,400;1,400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,400&display=swap);
@charset "UTF-8";
/**ROBOTO CONDENSED FONTS**/
.v-application {
  font-family: "Roboto Condensed", sans-serif !important;
}
.v-application [class*=text-] {
  color: #000068;
  font-family: "Roboto Condensed", sans-serif !important;
}

.v-application title {
  font-family: "Roboto Condensed", sans-serif !important;
}

.ql-picker.ql-font .ql-picker-label[data-value="Roboto Condensed"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="Roboto Condensed"]::before {
  font-family: "Roboto Condensed", cursive;
  content: "Roboto Condensed";
}

.ql-picker.ql-font .ql-picker-label[data-value=Roboto]::before,
.ql-picker.ql-font .ql-picker-item[data-value=Roboto]::before {
  font-family: "Roboto", cursive;
  content: "Roboto";
}

/* Set content font-families */
.ql-font-Raleway {
  font-family: "Roboto";
}

.ql-font-Roboto {
  font-family: "Roboto Condensed";
}

/* We do not set Aref Ruqaa since it is the default font */
html {
  scroll-behavior: smooth;
}

.v-toast__item--success {
  background-color: #4CAF50 !important;
}

.v-toast__item--info {
  background-color: #3F51B5 !important;
}

.v-toast__item--warning {
  background-color: #FFC107 !important;
}

.v-toast__item--error {
  background-color: #F44336 !important;
}

/**css**/
.content-wrap {
  max-width: 90%;
  background-color: transparent;
}

.content-wrap-2 {
  max-width: 90%;
  background-color: transparent;
}

.content-wrap-0 {
  max-width: 1000px;
  background-color: transparent;
}

.content-wrap-article {
  max-width: 940px;
  background-color: transparent;
}

@media screen and (max-width: 960px) {
  /**css**/
  .content-wrap {
    max-width: 100%;
  }
  .content-wrap-2 {
    max-width: 100%;
  }
  .content-wrap-0 {
    max-width: 1000px;
  }
  .content-wrap-article {
    max-width: 940px;
  }
}
* {
  text-decoration: none !important;
}

.v-main {
  padding-top: 0px !important;
}

.v-main__admin {
  max-height: calc(100vh - 64px) !important;
  overflow-y: auto;
}

header {
  z-index: 10;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-360 {
  transform: rotate(360deg);
}

.text-normal {
  text-transform: none !important;
}

/**globals**/
.container-bandwith {
  height: 110px !important;
  overflow-y: hidden !important;
}

/*fonts*/
.as-title_large {
  position: relative;
  top: -1px;
  font-size: 1.9rem;
}

.as-title_large_2 {
  font-size: 1.9rem;
}

.content-desc-subtitle {
  padding: 10px 0px 10px 0px;
  width: 450px !important;
  line-height: 1.2;
}

.as-text_normal {
  font-size: 1.5rem;
}

.as-text_normal_2 {
  font-size: 2rem;
  line-height: 1;
}

.content-desc-title {
  width: 350px !important;
  line-height: 1;
}

.as-text_large {
  font-size: 3.2rem;
}

.as-text_medium {
  font-size: 2rem;
}

.as-text_underline {
  font-size: 3.2rem;
  font-weight: bold;
}

.as-text_underline::after {
  position: absolute;
  display: block;
  content: "";
  height: 8px;
  width: 46px;
  left: 0;
  right: 0;
  margin: 0px auto 0px auto;
  background: white;
}

.as-text_underline_app {
  font-size: 2.5rem;
  font-weight: bold;
}

.as-text_underline_app::after {
  position: absolute;
  display: block;
  content: "";
  height: 6px;
  width: 40px;
  left: 0;
  right: 0;
  margin: 10px auto 0px auto;
  background: #000068;
}

.btn-actions {
  height: 2.7rem;
  width: 9.2rem;
  font-size: 0.8rem !important;
}

.as-text_extraLarge {
  font-size: 2.7rem;
  line-height: 1;
}

.as-li_normal {
  font-size: 1.4rem;
  list-style: none;
}

.line-height_1 {
  line-height: 1 !important;
}

.line-height_2 {
  line-height: 1.7 !important;
}

.line-height_1_3 {
  line-height: 1.3 !important;
}

.after-right_block {
  position: relative;
  display: inline-block;
}

.after-right_block::after {
  position: absolute;
  top: 2.7rem;
  content: "";
  height: 6px;
  width: 40px;
  width: 13%;
  left: 85%;
  background: #000068;
}

.after-center_block {
  position: relative;
  display: inline-block;
}

.after-center_block_2 {
  display: inline-block;
}

.after-center_block::after {
  position: absolute;
  top: 2.7rem;
  content: "";
  height: 6px;
  width: 40px;
  width: 20%;
  left: 40%;
  right: 40%;
  background: #000068;
}

.after-center_block_2::after {
  display: block;
  position: relative;
  content: "";
  height: 6px;
  width: 8%;
  left: 46%;
  right: 46%;
  background: #000068;
}

.as-p_normal {
  font-size: 1.1rem;
}

.as-text_underline-init {
  font-size: 2rem;
  font-weight: bold;
}

.as-text_underline-init-large {
  font-size: 2.5rem;
  font-weight: normal;
}

.as-text_underline-init::after {
  display: block;
  content: "";
  height: 6px;
  width: 40px;
  left: 0;
  margin-top: 6px;
  background: #000068;
}

.as-text_underline-init-large::after {
  display: block;
  content: "";
  height: 6px;
  width: 80px;
  left: 0;
  margin-top: 10px;
  background: #000068;
}

@media screen and (max-width: 992px) {
  .as-title_large {
    font-size: 1rem;
  }
  .as-title_large_2 {
    font-size: 1rem;
  }
  .as-text_normal {
    font-size: 0.9rem;
  }
  .as-text_normal_2 {
    font-size: 1.8rem;
    line-height: 1;
  }
  .content-desc-subtitle {
    padding: 0;
    display: inline-block;
    max-width: 57vw;
    /* Establece el ancho máximo deseado */
    overflow-wrap: break-word;
    word-break: break-all;
    -webkit-hyphens: auto;
            hyphens: auto;
    /* Activa la separación silábica */
  }
  .btn-actions {
    height: 1.8rem !important;
    width: 8rem;
    font-size: 0.6rem !important;
  }
  .as-text_large {
    font-size: 1.8rem;
  }
  .as-text_medium {
    font-size: 1.1rem;
  }
  .as-text_underline {
    font-size: 1.8rem;
  }
  .as-text_underline::after {
    position: absolute;
    display: block;
    content: "";
    height: 4px;
    width: 20px;
    left: 0;
    right: 0;
    margin: 0px auto 0px auto;
    background: white;
  }
  .as-text_underline_app {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .as-text_underline_app::after {
    position: absolute;
    display: block;
    content: "";
    height: 4px;
    width: 20px;
    left: 0;
    right: 0;
    margin: 10px auto 0px auto;
    background: #000068;
  }
  .as-text_extraLarge {
    font-size: 1.8rem;
    line-height: 1;
  }
  .as-li_normal {
    font-size: 1rem;
  }
  .as-p_normal {
    font-size: 0.9rem;
  }
  .as-text_underline-init {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .as-text_underline-init-large {
    font-size: 1.7rem;
    font-weight: normal;
  }
  .as-text_underline-init-large::after {
    display: block;
    content: "";
    height: 4px;
    width: 45px;
    left: 0;
    margin-top: 10px;
    background: #000068;
  }
}
.disable-events {
  pointer-events: none;
}

.c-pointer {
  cursor: pointer;
}

#no-background-hover::before {
  background-color: transparent !important;
}

/**transitions**/
.slide-fade-enter-active {
  transition: all 0.5s ease;
}

.slide-fade-leave-active {
  transition: all 0.05s cubic-bezier(0.5, 0.5, 0.5, 0.5);
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(-10px);
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 1s ease;
}

.fade-leave-active {
  transition: opacity 0.1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/**for carousel vuetify**/
.v-carousel__controls__item.v-btn.v-btn--icon.v-btn--active {
  color: #000068;
  /* Colour for active one */
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
